<style>
    .document-option-yellow {
        background-color: rgb(235, 57, 235);;
        padding: 20px;
        text-align: center;
    }
    .document-option-white {
        background-color: blue;
        padding: 20px;
        text-align: center;
    }
</style>
