<style>
    .document-option-yellow {
        background-color: #ffdd00;
        padding: 20px;
        text-align: center;
    }
    .document-option-white {
        background-color: white;
        padding: 20px;
        text-align: center;
    }
</style>
